# Executables
*.exe
*.out
*.app

# Build
/build
/out
.DS_Store

# IDE
.vscode
.vs
CMakeSettings.json
.cache

# Submodules
/external

# Local files
/assets/local
/assets/scenes

# Runtime temporary files
imgui.ini
