name: Building

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release           # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    strategy:
      fail-fast: false
      matrix: 
        os: ["windows-latest"]
        visual_studio: ["Visual Studio 17 2022"]
    
    runs-on: ${{matrix.os}}

    steps:
      
    - name: Configure Pagefile
      if:  ${{matrix.os == 'windows-latest'}}
      uses: al-cheb/configure-pagefile-action@v1.5
      with:
        minimum-size: 4GB
        maximum-size: 64GB
    - name: Set up pagefile
      if:  ${{matrix.os == 'windows-latest'}}
      run: |
        (Get-CimInstance Win32_PageFileUsage).AllocatedBaseSize

    - name: Checkout Fluxel
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Install CUDA
      uses: Jimver/cuda-toolkit@master
      with:
        # Cuda version
        cuda: 12.9.1
        # Only installs specified subpackages, must be in the form of a JSON array. For example, if you only want to install nvcc and visual studio integration: ["nvcc", "visual_studio_integration"] double quotes required! Note that if you want to use this on Linux, 'network' method MUST be used.
        # sub-packages: '["nvcc", "visual_studio_integration", "cublas_dev", "curand_dev", "nvrtc_dev", "cudart"]'
        # Installation method, can be either 'local' or 'network'. 'local' downloads the entire installer with all packages and runs that (you can still only install certain packages with sub-packages on Windows). 'network' downloads a smaller executable which only downloads necessary packages which you can define in subPackages
        method: "local"

    - name: Install Vulkan SDK
      uses: humbletim/install-vulkan-sdk@v1.2
      with:
        version: latest
        cache: true

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
        cmake -B ${{github.workspace}}/build  -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      
    - name: Build
      run: | 
        cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel 2